{% extends "header.html" %}
{% block content %}

<h2>About TableTrove</h2>

<br>

<p>
    TableTrove was created by Thomas Garbe O'Connor.
</p>

<br>

<h4>Description</h4>

<br>

<p>
    TableTrove is a website for people to create and share their ideas for 
    items and creatures. While TableTrove aims to be a tool for Dungeons & 
    Dragons 5e, it can realistically be used for any TTRPG. On the homepage
    you can search for previous creations by the community (exact matches only).
    You can also find the links to item and creature creation. Lastly, the home
    page shows off the top-liked item and creature.
</p>
<p>
    Both items and creatures can be viewed on their own pages which lists 
    information about them, including a link to who created the post as well as
    a thread of comments. Here you can leave a comment or like the item if you
    are logged in.
</p>
<p>
    When you navigate to a user's details page, you can see their name, profile
    picture (if it exists), distribution of posts through a pie chart, and all
    of their previous posts.
</p>
<p>
    TableTrove features secure user management and source management.
</p>

{% endblock %}