{% extends "header.html" %}
{% block content %}

<br>

<div class="row">
    <div class="col">
        {# Profile picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {# Greeting #}
        {% if current_user.is_authenticated %}
            <h1> Hail, {{ current_user.username }}! </h1>
        {% endif %}
    </div>
    <div class="col">
        {% if current_user.is_authenticated %}
            <div class="row">
            <div class="col">
                <form method="POST" action="">
                {{ delete_form.csrf_token }}
                <div class="form-group">
                    {{ delete_form.text.label }}
                    {{ delete_form.text(class="form-control") }}

                    {% if delete_form.text.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in delete_form.text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


                </div>
                {{ delete_form.submit_delete() }}
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update Form #}
        {% if current_user.is_authenticated %}
            <div class="row">
            <div class="col">
                <form method="POST" action="">
                {{ username_form.csrf_token }}
                <div class="form-group">
                    {{ username_form.name.label }}
                    {{ username_form.name(class="form-control") }}

                    {% if username_form.name.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in username_form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


                </div>
                {{ username_form.submit_name() }}
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Profile Picture Update Form #}
        {% if current_user.is_authenticated %}
            <div class="row">
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                {{ pic_form.csrf_token }}
                <div class="form-group">
                    {{ pic_form.picture.label }}
                    {{ pic_form.picture(class="form-control") }}

                    {% if pic_form.picture.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in pic_form.picture.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                </div>
                {{ pic_form.submit_pic() }}
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Link to see all of the current user's items. #}
        <p><a href="{{ url_for('user_detail', username=current_user.username) }}">See all items</a></p>
    </div>
    <div class="col">
        {# Link to homepage. #}
        <p><a href="{{ url_for('index') }}">Home</a></p>
    </div>
</div>
{% endblock %}