{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if creature %}

<br>

{# Display card for the creature details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <h1>{{ creature.name }}</h1>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Created by:</b> 
            <a href="{{ url_for('user_detail', username=creature.creator.username) }}">
              {{ creature.creator.username }}</a>
          </li>
          <li class="list-group-item"><b>Date Created:</b> {{ creature.date }}</li>
          <li class="list-group-item"><b>Creature Description:</b> {{ creature.content }}</li>
          <li class="list-group-item"><b>♥</b> {{ creature.likes }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{# Creature Likes #}
{% if current_user.is_authenticated %}
  <form method="POST" action="">
    {{ creature_like_form.csrf_token }}
    {{ creature_like_form.submit_like() }}
  </form>
{% endif %}

{# Creature Comments #}
<div class="row">
  <div class="col-md-12">
    <h1> Comments <small class="float-right">{{ creature_comments|length }} comments</small></h1>
    <ul class="media-list">
      {% for comment in creature_comments %}
      <li class="media review-item">
        <img class="mr-3 comment-pic" src="data:image/png;base64,{{ comment.commenter.profile_pic }}" alt="">
        <div class="media-body">
          <span class="float-right">
            <small>{{ comment.date }}</small>
          </span>
          <a href="{{ url_for('user_detail', username=comment.commenter.username) }}">
            <strong>@{{ comment.commenter.username }}</strong>
          </a>
          <p>
            {{ comment.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Item comment submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ creature_comment_form.csrf_token }}
      <div class="form-group">
        {{ creature_comment_form.text.label }}
        {{ creature_comment_form.text(class="form-control") }}

        {% if creature_comment_form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in creature_comment_form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ creature_comment_form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}