{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Registration</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Ask the user to login if they already have an account #}
        <p>Have an account? <a href="{{ url_for('login') }}">Login!</a></p>
    </div>
</div>

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

<!-- Registration Form: -->
<div class="row">
    <div class="col">
        {# Optionally show flashed messages if/when you need them,           TODOTODTODOTODO
            if an authentication or other similar error occurs #}
        {# Registration form rendered with Bootstrap #}
        {# User Registration Form #}
        {% if not current_user.is_authenticated %}
            <div class="row">
            <div class="col">
                <form method="POST" action="">
                {{ registration_form.csrf_token }}
                <div class="form-group">
                    {# USERNAME #}
                    {{ registration_form.username.label }}
                    {{ registration_form.username(class="form-control") }}

                    {% if registration_form.username.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in registration_form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}
                    
                    {# EMAIL #}
                    {{ registration_form.email.label }}
                    {{ registration_form.email(class="form-control") }}

                    {% if registration_form.email.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in registration_form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {# PASSWORD #}
                    {{ registration_form.password.label }}
                    {{ registration_form.password(class="form-control") }}

                    {% if registration_form.password.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in registration_form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {# CONFIRM PASSWORD #}
                    {{ registration_form.confirm_password.label }}
                    {{ registration_form.confirm_password(class="form-control") }}

                    {% if registration_form.confirm_password.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in registration_form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                </div>
                {{ registration_form.submit() }}
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}